.fir{
background-image: url(../1003220.png);
width: 49%;
height: 100vh;
background-repeat: no-repeat;
background-size:cover ;
background-position: 50%;

}
.sec{
background-color: rgb(247, 247, 247);
width: 48%;

}
.coontainer{
    padding:10px ;
   margin-top: 50px;
   bottom: 10%;
   position: absolute;
   right: 25%;
   width: 50%;
}

.coontainer input{
    border-radius: 10px;
}
.sec button{
    border-radius: 10px;
}









.main{
    background-image: url(../6be74cf2eb1c6873c0183fcd8abf9d0f.jpg);
    

    background-size: cover;
    background-position: center;
    height: 100vh;
    align-content: center !important;

    position: fixed;
    width: 100%;
    color: white !important;
    justify-content: center;
    

}
.container{
    position: absolute;
    width: 40%;
bottom: 10%;
right: 30%;
background: linear-gradient(#080808dc,#0a0909af);
    
    border-radius: 10px;
    
    
}
.overlay{
    background-color: rgba(0, 0, 0, 0.432);
    width: 100%;
    height: 100vh;
    z-index: 150;
    backdrop-filter: blur(1px);
}
.container input{
    border-radius: 7px;
     margin:7px ;
}

.h{
    justify-self: center;
    margin-left: 70px;
    position: static;
}
